{
  "name": "{{{cliName}}}",
  "version": "{{{packageVersion}}}",
  "type": "module",
  "bin": {
    "{{{cliName}}}": "bin.js"
  },
  "pkg": {
    "targets": [
      "node18-linux-x64",
      "node18-macos-x64",
      "node18-win-x64"
    ],
    "outputPath": "dist"
  },
  "dependencies": {
    "{{{package}}}": "{{{clientLocation}}}",
    "chalk": "^5.6.2",
    "commander": "14.0.1",
    "json-stringify-safe": "^5.0.1"
  },
  "exports": {
    ".": "./index.js",
    "./action": "./action.js"
  }
}
