{
  "name": "{{{cliName}}}",
  "version": "{{{packageVersion}}}",
  "type": "module",
  "bin": {
    "{{{cliName}}}": "bin.js"
  },
  "pkg": {
    "targets": [
      "node18-linux-x64",
      "node18-macos-x64",
      "node18-win-x64"
    ],
    "outputPath": "dist"
  },
  "dependencies": {
    "{{{package}}}": "file:{{{clientLocation}}}",
    "commander": "14.0.1"
  },
  "devDependencies": {
    "pkg": "^5.8.1"
  }
}
